<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirm Delete</title>
</head>
<body>
    <h2> Are you sure you want to delete this request? </h2>
    
    <p> Knowledge Area: {{  request_instance.knowledge_area  }}</p>
    <p> Term: {{ request_instance.term }} </p>
    <form method="post" action="{% url 'confirm_delete_request' request_instance.id %}">
        {%  csrf_token %}
        <button id="id_submit_button" type="submit" class = "btn btn-danger"> Yes </button>
        <a href="{% url 'view_requests' %}"> No </a>
    </form>
</body>
</html>