<body>
    <h1>{{ title }}</h1>
    <div class="calendar">
        <div class="row">
            <!-- Month navigation buttons -->
            <div>
                <a href="{% url 'dashboard' %}">Click here to go to the main dashboard</a>
                {% if user.user_type == "Admin" %}
                    <a href="{% url 'view_all_users' %}">Click here to go back to viewing all users</a>
                {% endif %}
            </div>
            <div>
                <a href="?year={{ prev_year }}&month={{ prev_month }}">Previous Month</a>
                <a href="?year={{ next_year }}&month={{ next_month }}">Next Month</a>
            </div>
            <h3>{{ month }}</h3>
            <!-- Display the calendar header with days of the week -->
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Mon</th>
                        <th>Tue</th>
                        <th>Wed</th>
                        <th>Thu</th>
                        <th>Fri</th>
                        <th>Sat</th>
                        <th>Sun</th>
                    </tr>
                </thead>
                <tbody>
                    {% for week in month_days %}
                    <tr>
                        {% for day in week %}
                        <td>
                            {% if day %}
                                <!-- Display events for the day -->
                                <h3>{{ day }}</h3>
                                <ul>
                                    {% for event in events %}
                                        {% for i in event %}
                                            {% if i.date.day == day %}
                                                <li>{{ i.title }}</li>
                                                <li>{{ i.knowledge_area }}</li>
                                                <li>{{ i.duration }}</li>
                                                <li>{{ i.venue }}</li>
                                                <li>Recurring: {{ i.is_recurring }}</li>
                                                <li>{{ i.cancellation_requested }}</li>
                                                <!-- Form to submit lesson cancellation -->
                                                <form method="GET" action="{% block calendar_action %}{% endblock %}">
                                                    {% csrf_token %}
                                                    <button type="submit">Cancel</button>
                                                    <input type="hidden" name="day" value="{{ day }}">
                                                    <input type="hidden" name="month" value="{{ month }}">
                                                    <input type="hidden" name="year" value="{{ year }}">
                                                    <input type="hidden" name="recurring" value="{{ i.is_recurring }}">
                                                    <input type="hidden" name="lesson" value="{{ i.lesson_identifier }}">
                                                </form>
                                                <p> --------------</p>
                                            {% endif %}
                                        {% endfor %}
                                        
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
