<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
</head>
<body>
    <h1>Welcome to the Admin Dashboard</h1>
    <div>
        <a href="{% url 'view_all_users' %}">Click here to view all users</a>
    </div>
    <div>
        <a href="{% url 'dashboard' %}">Click here to go to the main dashboard</a>
    </div>
    <div>
        <a href="{% url 'view_cancellation_requests' %}">Click here to go to view cancellation requests</a>
    </div>
    <div>
        <a href="{% url 'admin_calendar' %}">Click here to view the admin calendar</a>
    </div>
</body>
</html>