{% extends 'base_content.html' %}
{% block content %}
<div class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="row w-100 justify-content-center">
        <div class="col-md-6 mb-4">
            <div class="card h-100 text-center bg-dark text-white shadow-sm rounded-3">
                <div class="card-body">
                    <div class="mb-3">
                        <!-- Icon for Admin -->
                        <i class="bi bi-person-badge text-success" style="font-size: 3rem;"></i>
                    </div>
                    <h5 class="card-title">{{ user.first_name }} {{ user.last_name }}</h5>
                    <p class="card-text">is now an administrator</p>
                    <a href="{% url 'admin_dash' %}" class="btn btn-outline-light">Click here to go to the administrator dashboard</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
