<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Make admin</title>
</head>
<body>
    <div>
        <a href="{% url 'view_all_users' %}">Click here to go back</a>
    </div>
<h1>Please click yes to confirm you would like to make {{first_name}} {{last_name}} an admin </h1>
    <form action="{% url 'confirm_make_admin' pk=pk %}" method="post">
        {% csrf_token %}
        <button id="id_confirm_admin_{{ pk }}" type="submit">Yes</button>
    </form>
</body>
</html>