{% extends 'base_content.html' %}
{% block content %}
<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1 class="display-5 text-white">
            Registered Users
        </h1>
        <a href="{% url 'admin_dash' %}" class="btn btn-outline-success">Go to the Administrator Dashboard</a>
    </div>

    <form method="get" class="bg-dark text-white p-3 rounded mb-4">
        <p class="text-white">Showing {{ count }} users</p>
        <div class="d-flex flex-wrap align-items-center">

            <div class="me-2 mb-2">
                <select 
                    name="{{ filter.form.user_type.name }}" 
                    id="{{ filter.form.user_type.id_for_label }}" 
                    class="form-select form-select-sm">
                    {% for choice in filter.form.user_type.field.choices %}
                        <option value="{{ choice.0 }}" {% if choice.0 == filter.form.user_type.value %}selected{% endif %}>
                            {{ choice.1 }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            
            <div class="flex-grow-1 mb-2 me-3">
                <input 
                    type="text" 
                    name="{{ filter.form.search.name }}" 
                    id="{{ filter.form.search.id_for_label }}" 
                    class="form-control form-control-sm" 
                    placeholder="Search users..." 
                    value="{{ request.GET.search }}">
            </div>

            <div class="me-2 mb-2">
                <select name="sort" class="form-select form-select-sm">
                    <option value="">Sort By</option>
                    <option value="email" {% if request.GET.sort == "email" %}selected{% endif %}>Email (A-Z)</option>
                    <option value="-email" {% if request.GET.sort == "-email" %}selected{% endif %}>Email (Z-A)</option>
                    <option value="first_name" {% if request.GET.sort == "first_name" %}selected{% endif %}>First Name (A-Z)</option>
                    <option value="-first_name" {% if request.GET.sort == "-first_name" %}selected{% endif %}>First Name (Z-A)</option>
                    <option value="last_name" {% if request.GET.sort == "last_name" %}selected{% endif %}>Last Name (A-Z)</option>
                    <option value="-last_name" {% if request.GET.sort == "-last_name" %}selected{% endif %}>Last Name (Z-A)</option>
                    <option value="user_type" {% if request.GET.sort == "user_type" %}selected{% endif %}>User Type (A-Z)</option>
                    <option value="-user_type" {% if request.GET.sort == "-user_type" %}selected{% endif %}>User Type (Z-A)</option>
                </select>
            </div>

            <div class="ms-2 mb-2">
                <button type="submit" class="btn btn-outline-light btn-sm">Apply</button>
            </div>
        </div>
    </form>


    <table class="table table-dark table-striped table-hover mt-3">
        <thead>
            <tr>
                <th scope="col">Email Address</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Account Type</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in page_obj %}
                <tr>
                    <td>{{ user.email|lower }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.user_type }}</td>
                    <td>
                        {% if user.user_type != "Admin" %}
                            <a href="{% url 'make_admin' user.id %}" class="btn btn-primary btn-sm">Make Administrator</a>
                        {% endif %}
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5" class="text-center text-muted">No users registered.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include 'partials/_pagination.html' %}
</div>
{% endblock %}
