{% extends 'base_content.html' %}
{% block content %}
    <div>
        <div class="container mt-5">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h1 class="display-5 text-white">
                    Cancellation Requests
                </h1>
                <a href="{% url 'admin_dash' %}" class="btn btn-outline-success">Go to the Administrator Dashboard</a>
            </div>
            <div class="table-responsive shadow rounded border">
                <table class="table table-dark table-hover text-white align-middle mb-0">
                    <thead class="thead-light bg-secondary">
                        <tr>
                            <th>ID</th>
                            <th>Student</th>
                            <th>Tutor</th>
                            <th>Lesson Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in lessons.all %}
                        <tr>
                            <td>{{ i.id }}</td>
                            <td>{{ i.student.first_name }} {{ i.student.last_name }}</td>
                            <td>{{ i.tutor.first_name }} {{ i.tutor.last_name }}</td>
                            <td>{{ i.date }}</td>
                            <td>
                                <ul class="list-unstyled d-flex gap-2 mb-0">
                                    <form method="POST" action="{% url 'admin_cancel_lessons' %}" class="d-inline">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-success btn-sm">Accept</button>
                                        <input type="hidden" name="date" value="{{ i.date }}">
                                        <input type="hidden" name="lesson" value="{{ i.id }}">
                                        <input type="hidden" name="cancellation" value="accept">
                                    </form>
                                    <form method="POST" action="{% url 'admin_cancel_lessons' %}" class="d-inline">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger btn-sm">Reject</button>
                                        <input type="hidden" name="date" value="{{ i.date }}">
                                        <input type="hidden" name="lesson" value="{{ i.id }}">
                                        <input type="hidden" name="cancellation" value="reject">
                                    </form>
                                </ul>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
{% include 'partials/_pagination.html' %}
</div>
{% endblock %}
