{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Welcome to your dashboard {{ user.username }}</h1>
    </div>
    <div class="col-12">
      {% if user.user_type != 'Tutor'%}<a href = "{% url 'create_request' %}">Click here to create a lesson request</a>
      {% endif %}
    </div>
    <div class="col-12">
      <a href = "{% url 'view_requests' %}">Click here to view your lesson requests</a>
    </div>
    <div>
        {% if user.is_tutor %}
            <a id="id_view_tutor_calendar" href="{% url 'tutor_calendar' %}">View Your Lessons (Tutor Calendar)</a>
        {% elif user.is_student %}
            <a id="id_view_student_calendar" href="{% url 'student_calendar' %}">View Your Lessons (Student Calendar)</a>
        {% endif %}
    </div>
    <div class="col-12">
      {% if user.user_type == 'Admin'%}<a href = "{% url 'admin_dash' %}">Click here to go to the admin dashboard</a>
      {% endif %}
    </div>

    
  </div>
</div>
{% endblock %}