{% extends 'base_content.html' %}
{% block content %}
<div class="container d-flex justify-content-center mt-0 mb-3">
  <div class="row w-100">
    <div class="col-12 col-md-6 offset-md-3">
      <div class="card p-3 shadow-sm bg-dark text-white">
        <h1 class="text-center mb-3">Edit Profile</h1>
        <form action="{% url 'profile' %}" method="post">
          {% csrf_token %}
          {% include 'partials/bootstrap_form.html' with form=form %}

          {% if user.is_authenticated and user.user_type != 'Admin' %}
          <div class="form-group mt-2">
            <label for="id_availability" class="form-label text-white">Availability:</label>
            <div class="availability-container">
              {% for checkbox in form.availability %}
                <div class="form-check">
                  {{ checkbox.tag }}
                  <label for="{{ checkbox.id_for_label }}" class="form-check-label">{{ checkbox.choice_label }}</label>
                </div>
              {% endfor %}
            </div>
          </div>
          {% endif %}

          {% if user.is_authenticated and user.is_tutor %}
          <div class="text-center mt-3 row">
            <div class="col-6">
              <input id="id_submit_profile_page" type="submit" value="Update" class="btn btn-primary w-100">
            </div>
            <div class="col-6">
              <a id="id_add_knowledge_areas" href="{% url 'add_knowledge_areas' %}" class="btn btn-secondary w-100">
                Add Knowledge Areas
              </a>
            </div>
          </div>
          {% else %}
          <div class="text-center mt-3">
            <input id="id_submit_profile_page" type="submit" value="Update" class="btn btn-primary w-100">
          </div>
          {% endif %}
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
