{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Welcome to your dashboard {{ user.username }}</h1>
    </div>
    <div class="col-12">
      {% if user.user_type != 'Tutor'%}<a href = "{% url 'create_request' %}">Click here to create a lesson request</a>
      {% endif %}
    </div>
    <div class="col-12">
      <a href = "{% url 'view_requests' %}">Click here to view your lesson requests</a>
    </div>
    <div class="col-12">
      {% if user.user_type == 'Admin'%}<a href = "{% url 'view_all_users' %}">Click here to view all users</a>
      {% endif %}
    </div>
    
  </div>
</div>
{% endblock %}